.main {
  /* border: 1px solid black; */
  padding: 50px;
  margin: 50px;
}

.main-heading {
  margin-bottom: 20px;
  color: #fb8500;
}
.formCard {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100%;
  /* max-width:680px; */
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.file-input {
  margin-bottom: 20px; /* Adjust this value as needed */
}
input[type="file"]::file-selector-button {
  border: 2px solid #fb8500;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #fb8500;
}
input[type="file"]::file-selector-button:hover {
  background-color: white;
}
.upload-button {
   color:#d06f00;
   }
   
