/* styles.css */
.leaflet-control-geosearch {
    background-color: white;
    color: black;
    width:100%;
    padding: 10px;
   }
   
   .leaflet-control-geosearch input[type="text"] {
    background-color: white;
    color: black;
    width:100%;
    padding: 10px;
   }
   
   .leaflet-control-geosearch .results {
    background-color: white;
    color: black;
    width:100%
   }

   